*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
body p {
  line-height: 1.74;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #1200ff;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 13px 30px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
}
.button :hover {
  background-color: #574aff;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.main-header {
  background-color: white;
  padding: 15px 0;
}
.main-header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.main-header .header-wrapper .main-navigation {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media screen and (max-width: 1040px) {
  .main-header .header-wrapper .main-navigation {
    display: none;
  }
}
.main-header .header-wrapper .main-navigation .main-menu {
  padding-left: 0;
  text-align: right;
}
.main-header .header-wrapper .main-navigation .main-menu .menu-item {
  display: inline-block;
}
.main-header .header-wrapper .main-navigation .main-menu .menu-item .menu-link {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: black;
}
.main-header .header-wrapper .main-navigation .main-menu .menu-item .menu-link:hover {
  opacity: 0.8;
}
.main-header .header-wrapper .main-navigation .main-menu .menu-item .menu-item:first-of-type a.menu-link {
  padding-left: 0;
}

.hero-box {
  background-color: black;
  color: white;
  padding-top: 170px;
}
.hero-box .hero-box-content {
  margin-left: 100px;
  margin-right: 100px;
}
@media screen and (max-width: 899px) {
  .hero-box .hero-box-content {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 799px) {
  .hero-box .hero-box-content {
    margin-right: 0;
    margin-left: 0;
  }
}
.hero-box .hero-box-content .hero-box-title-wrapper {
  max-width: 670px;
  padding-bottom: 386px;
}
.hero-box .hero-box-content .hero-box-title-wrapper .page-title {
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 23px;
}
@media screen and (max-width: 799px) {
  .hero-box .hero-box-content .hero-box-title-wrapper .page-title {
    font-size: 70px;
  }
}
@media screen and (max-width: 499px) {
  .hero-box .hero-box-content .hero-box-title-wrapper .page-title {
    font-size: 50px;
  }
}
.hero-box .hero-box-content .hero-box-title-wrapper p.page-description {
  font-size: 17px;
  max-width: 370px;
}
.hero-box .hero-box-content .service-list {
  padding-bottom: 20px;
  display: flex;
}
.hero-box .hero-box-content .service-list .service-item {
  margin-bottom: 74px;
  width: 50%;
}
@media screen and (max-width: 599px) {
  .hero-box .hero-box-content .service-list .service-item {
    width: 100%;
  }
}
.hero-box .hero-box-content .service-list .service-item:last-child {
  padding-left: 115px;
  border-left: 1px solid white;
}
@media screen and (max-width: 899px) {
  .hero-box .hero-box-content .service-list .service-item:last-child {
    padding-left: 70px;
  }
}
@media screen and (max-width: 799px) {
  .hero-box .hero-box-content .service-list .service-item:last-child {
    padding-left: 40px;
  }
}
@media screen and (max-width: 599px) {
  .hero-box .hero-box-content .service-list .service-item:last-child {
    padding-left: 0;
    border-left: 0;
  }
}
.hero-box .hero-box-content .service-list .service-item:first-child {
  padding-right: 115px;
}
@media screen and (max-width: 899px) {
  .hero-box .hero-box-content .service-list .service-item:first-child {
    padding-right: 70px;
  }
}
@media screen and (max-width: 799px) {
  .hero-box .hero-box-content .service-list .service-item:first-child {
    padding-right: 40px;
  }
}
@media screen and (max-width: 599px) {
  .hero-box .hero-box-content .service-list .service-item:first-child {
    padding-right: 0;
  }
}
.hero-box .hero-box-content .service-list .service-item p {
  margin: 0;
}
@media screen and (max-width: 599px) {
  .hero-box .hero-box-content .service-list {
    flex-wrap: wrap;
  }
}

.facts-header {
  font-size: 70px;
}
@media screen and (max-width: 799px) {
  .facts-header {
    font-size: 50px;
  }
}
@media screen and (max-width: 499px) {
  .facts-header {
    font-size: 40px;
  }
}

.facts-wrapper {
  margin-left: 200px;
}
@media screen and (max-width: 899px) {
  .facts-wrapper {
    margin-left: 50px;
  }
}
@media screen and (max-width: 799px) {
  .facts-wrapper {
    margin-left: 0;
  }
}
.facts-wrapper .facts-description {
  max-width: 470px;
}
.facts-wrapper .facts-description p {
  margin: 0;
}
.facts-wrapper .facts-list-wrapper {
  margin-top: 88px;
  margin-right: 70px;
}
.facts-wrapper .facts-list-wrapper .facts-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.facts-wrapper .facts-list-wrapper .facts-list .facts-item {
  margin-bottom: 88px;
  font-weight: 700;
  width: 47%;
}
.facts-wrapper .facts-list-wrapper .facts-list .facts-item .fact-value {
  font-size: 100px;
  margin-bottom: 15px;
}
.facts-wrapper .facts-list-wrapper .facts-list .facts-item .fact-value .fact-value.small {
  font-size: 72px;
  margin-bottom: 21px;
}
@media screen and (max-width: 599px) {
  .facts-wrapper .facts-list-wrapper .facts-list .facts-item {
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .facts-wrapper .facts-list-wrapper {
    margin-right: 0;
  }
}/*# sourceMappingURL=ca-main.css.map */